<html>

  <head>
    <title>Test</title>
  </head>

  <body ng-app="dataEdit">
    <h1>Hello, World.</h1>

    <div ng-controller="DataEditController">
      <input name="title" ng-model="title"/>
      <input name="title" ng-model="entry.title"/>
      <ul>
        <li data-ng-repeat="session in entry.sessions">
          {{session.sessionName}} {{session.place}}
        </li>
      </ul>

      {{ title }}
      {{ entry.title }}
    <div>

    <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.js'></script>
    <script>
      function Clock($scope) {
        $scope.currentTime = new Date();
      }
      var app = angular.module('dataEdit',[]);

      app.controller('DataEditController', function($scope) {
        $scope.entry = {
          title:'Some entry',
          sessions:[
            { sessionName:'Session1', place:'Session1Place1' },
            { sessionName:'Session2', place:'Session1Place2' },
            { sessionName:'Session3', place:'Session1Place3' },
            { sessionName:'Session4', place:'Session1Place4' }
          ]
        };
        $scope.title="flooble";
      });

    </script>
  </body>
</html>
